<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MovieMate хочет получить доступ к вашим фото.</string>
	<key>CLIENT_ID</key>
	<string>819717065796-ie3u5g4p5oseondkd9dhv0e73mq7cmor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819717065796-ie3u5g4p5oseondkd9dhv0e73mq7cmor</string>
	<key>API_KEY</key>
	<string>AIzaSyB0SZI77jRd98F97kfyjSpWYjiQym187-U</string>
	<key>GCM_SENDER_ID</key>
	<string>819717065796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Darigummy.DAR-Demo</string>
	<key>PROJECT_ID</key>
	<string>dardemo-170b5</string>
	<key>STORAGE_BUCKET</key>
	<string>dardemo-170b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819717065796:ios:e23fa69285a37483</string>
	<key>DATABASE_URL</key>
	<string>https://dardemo-170b5.firebaseio.com</string>
</dict>
</plist>
